#event {
    max-width: 1900px;
    height: 370px;
    margin: 0 auto 40px;
    position: relative;
}

.swiper {
    height: 100%;
}

#event-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.event-link {
    height: 100%;
}

.event-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-button {
    border: 0;
    position: absolute;
    width: 52px;
    height: 52px;
    background-image: url(/src/assets/icons/event/event-arrow.svg);
    opacity: 0;
    transition: 0.5s;
    z-index: 100;
    top: 43%;
}

.swiper:hover .event-button {
    opacity: 1;
}

#event-prev-button {
    left: 8%;
    transform: rotate(180deg);
}

#event-next-button {
    right: 8%;
}

#event-page-index {
    position: absolute;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 23px;
    left: 75%;
    bottom: 20px;
    font-size: 14px;
    border-radius: 12px;
    user-select: none;
    z-index: 100;
}
