/* footer.css */
footer {
    background-color: aquamarine;
    height: 531.833px;
    padding-top: 30px;
}

/* ----- .footer-inner ----- */
.footer-inner {
    background-color: aqua;
    width: 1050px;
    height: 429.833px;
    margin: 0 auto;
}

/* --- .footer-inner-top --- */
.footer-inner-top {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

/* .customer-center */
.customer-center__title {
    margin: 0;
    padding-bottom: 17px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

.customer-center__contact-tell {
    display: block;
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 40px;
}

.customer-center__contact-info {
    margin-left: 8px;
    font-weight: normal;
    font-size: 16px;
}

/* .about-kurly */
.footer-inner-top-right {
    background-color: darkblue;
    width: 495.438px;
    height: 296.667px;
}

/* --- .footer-inner-top --- */
.footer-inner-bottom {
    background-color: darkgreen;
    height: 43.500px;
    display: flex;
    justify-content: space-between;
    padding: 26px 0 33px;
}

/* ----- .footer-inner ----- */
.footer-bottom {
    height: 52px;
    background-color: gray;
    padding: 20px 0 30px;
}