/* footer.css */
footer {
    padding-top: 30px;
}

/* ----- .footer-inner ----- */
.footer-inner {
    width: 1050px;
    margin: 0 auto;
}

/* --- .footer-inner-top --- */
.footer-inner-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

/* .customer-center */
.customer-center__title {
    margin: 0;
    padding-bottom: 17px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

.customer-center__contact-tell {
    display: block;
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 40px;
}

.customer-center__contact-info {
    margin-left: 8px;
    font-weight: normal;
    font-size: 16px;
}

.customer-center__item {
    display: flex;
    flex-direction: row;
}

.customer-center__item-title {
    display: block;
    width: 140px;
    height: 40px;
    margin-right: 16px;
    margin-bottom: 16px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 3px;
    line-height: 39px;
    text-align: center;
}

.customer-center__item-info {
    margin-top: 2px;
    color: rgb(153, 153, 153);
    letter-spacing: -0.5px;
    line-height: 16.8px;
}

.customer-center__non-member {
    font-size: 12px;
    line-height: 18px;
    color: rgb(153, 153, 153);
}

/*  */
.footer-inner-top-right {
    background-color: aliceblue;
    width: 495.438px;
    height: 296.667px;
}

/* --- .footer-inner-bottom --- */
.footer-inner-bottom {
    background-color: darkgreen;
    height: 43.500px;
    display: flex;
    justify-content: space-between;
    padding: 26px 0 33px;
}

/* ----- .footer-bottom ----- */
.footer-bottom {
    padding: 20px 0px 30px;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    background-color: rgb(247, 247, 247);
    color: rgb(153, 153, 153);
}

.footer-bottom em {
    display: block;
    padding-top: 7px;
    font-style: normal;
}