#goods {
    width: 1050px;
    margin: 0px auto;
    padding: 40px 0px;
}

/*title 영역*/
#goods-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 27px;
}

#goods-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48px;
    padding: 8px 0px 8px 8px;
    cursor: pointer;
}

#goods-link span {
    color: rgb(51, 51, 51);
    font-size: 28px;
    line-height: 1.15;
    letter-spacing: -0.26px;
    font-weight: 500;
}

#goods-link img {
    width: 32px;
    height: 32px;
}

#goods-subtitle {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.45;
    letter-spacing: -0.2px;
    text-align: center;
    color: rgb(153, 153, 153);
    margin-top: 2px;
}

/*swiper 영역*/
#swiper-container {
    height: 496px;
    background-color: rgb(251, 221, 182);
    position: relative;
    width: 1050px;
    margin: 0px auto;
}

.swiper-slide {
    height: 496px;
    width: 249px;
    margin-right: 18px;
    background-color: darkgray;
    display: block;
}

#product-img {
    width: 249px;
    height: 320px;
    background-color: rgb(237, 202, 202);
    border-radius: 4px;
}

#cart-btn {
    border: 0;
    padding: 0;
    width: 249px;
    height: 36px;
    background-color: rgb(208, 140, 140);
    margin-top: 6px;
}

#product-info {
    width: 249px;
    height: 134px;
    padding: 8px 10px 0px 0px;
    background-color: rgb(132, 74, 74);
}

/*버튼 영역*/
.swiper-btn {
    position: absolute;
    z-index: 100;
    border: 0px;
    outline: 0px;
    width: 60px;
    height: 60px;
    top: 160px;
    background-image: url(/src/assets/icons/goods/swiper-btn.svg);
    transition: background 0.5s;
}

#swiper-prev-btn {
    left: 0px;
    transform: translate(-50%, -50%);
}

#swiper-next-btn {
    right: 0px;
    transform: translate(50%, -50%) rotate(180deg);
}

.swiper-btn:hover {
    background-image: url(/src/assets/icons/goods/swiper-btn-h.svg);
}