.header-container {
    width: 1050px;
    height: 100px;
    margin: 0px auto;
}

.header-topbar {
    font-size: 12px;
}

.header-menu {
    display: flex;
    justify-content: end;
    line-height: 35px;
    align-items: center;
}

.signup {
    color: rgb(95, 0, 128);
    cursor: pointer;
}

.divider {
    width: 1px;
    height: 13px;
    margin: 0px 12px;
    background-color: rgb(217, 217, 217);
}

.login {
    cursor: pointer;
}

.support {
    cursor: pointer;
}

.down-arrow {
    display: inline-block;
    width: 8px;
    height: 5px;
    background-image: url(/src/assets/images/support-down-arrow.png);
    background-size: cover;
    margin-bottom: 1px;
}

.support-container {
    position: relative;
}

.support-menu {
    display: none;
    position: absolute;
    border: 1px solid rgb(221, 221, 221);
    width: 130px;
    right: 0px;
    padding: 3px 9px;
}

.support-container:hover .support-menu {
    display: block;
}

.support-menu-item {
    height: 24px;
    line-height: 24px;
    cursor: pointer;
}
