#modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    top: 0;
}

#search-modal {
    width: 360px;
    border-radius: 12px;
    text-align: center;
    position: fixed;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#modal-content {
    padding: 40px 30px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 21px;
}

#modal-footer {
    height: 56px;
    border-top: 1px solid rgb(247, 247, 247);
}

#confirm-button {
    width: 100%;
    height: 100%;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    color: rgb(95, 0, 128);
}

#header {
    width: 1050px;
    height: 100px;
    margin: 0px auto;
}

#header-topbar {
    display: flex;
    justify-content: end;
    line-height: 35px;
    align-items: center;
    font-size: 12px;
    letter-spacing: -0.4px;
}

#header-topbar__signup {
    color: rgb(95, 0, 128);
    cursor: pointer;
}

.header-topbar__divider {
    width: 1px;
    height: 13px;
    margin: 0px 12px;
    background-color: rgb(217, 217, 217);
}

#header-topbar__login {
    cursor: pointer;
}

.header-topbar__support-link {
    cursor: pointer;
}

.down-arrow {
    display: inline-block;
    width: 8px;
    height: 5px;
    background-image: url(/src/assets/images/support-down-arrow.png);
    background-size: cover;
    margin-bottom: 1px;
    margin-left: 3px;
}

#header-topbar__support {
    position: relative;
}

#header-topbar__support-dropdown {
    display: none;
    position: absolute;
    border: 1px solid rgb(221, 221, 221);
    width: 130px;
    right: 0px;
    padding: 3px 9px;
    background-color: white;
    box-sizing: border-box;
}

#header-topbar__support:hover #header-topbar__support-dropdown {
    display: block;
    z-index: 320;
}

.support-dropdown-item {
    height: 24px;
    line-height: 24px;
    cursor: pointer;
}

#header-utility {
    height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-utility__logo {
    height: 100%;
    display: flex;
    align-items: center;
}

#header-utility__switch-market {
    display: flex;
}

.switch-kurly {
    margin-left: 20px;
    font-size: 18px;
    color: rgb(181, 181, 181);
}

.switch-kurly.active,
.switch-kurly:hover {
    font-weight: 500;
    color: rgb(95, 0, 128);
}

.switch-kurly:last-child {
    margin-left: 10px;
}

.market-divider {
    width: 1px;
    height: 14px;
    margin-top: 3px;
    margin-left: 11px;
    background-color: rgb(226, 226, 226);
}

#header-utility__search {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 48px;
    padding-left: 14px;
    padding-top: 1px;
    margin-top: 1px;
    border: 1px solid rgb(95, 0, 128);
    border-radius: 6px;
    background-color: white;
    margin-left: -100px;
    box-sizing: border-box;
}

#search__input {
    border: 0;
    width: 300px;
    outline: none;
    font-size: 16px;
    letter-spacing: -0.33px;
    margin-left: -2px;
    color: #333333;
}

#search__input::placeholder {
    color: rgb(153, 153, 153);
}

/* 추후 입력이 있을 경우 버튼이 보이게 설정 */
#search__clear-button {
    display: none;
    border: 0;
    background: url(/src/assets/icons/header/delete-icon.svg) no-repeat;
    width: 16px;
    height: 16px;
    margin-top: 14.5px;
    margin-left: 20px;
}

#search__button {
    border: 0;
    background: url(/src/assets/icons/header/search-icon.svg) no-repeat;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 10px;
    bottom: 6px;
}

#header-utility__user-menu {
    display: flex;
    height: 100%;
    align-items: center;
}

#user-menu__delivery,
#user-menu__favorites,
#user-menu__cart {
    display: inline-block;
    margin-top: 5px;
    width: 36px;
    height: 36px;
}

#user-menu__delivery {
    background-image: url(/src/assets/icons/header/delivery-location-icon.svg);
    margin-right: 20px;
}

#user-menu__delivery:hover {
    background-image: url(/src/assets/icons/header/delivery-location-icon-h.svg);
}

#user-menu__favorites {
    background-image: url(/src/assets/icons/header/heart-favorites-icon.svg);
}

#user-menu__favorites:hover {
    background-image: url(/src/assets/icons/header/heart-favorites-icon-h.svg);
}

#user-menu__cart {
    background-image: url(/src/assets/icons/header/cart-icon.svg);
    margin-left: 20px;
}

#user-menu__cart:hover {
    background-image: url(/src/assets/icons/header/cart-icon-h.svg);
}
