.header {
    width: 1050px;
    height: 100px;
    margin: 0px auto;
}

.header__topbar-menu {
    display: flex;
    justify-content: end;
    line-height: 35px;
    align-items: center;
    font-size: 12px;
    letter-spacing: -0.4px;
}

.header__topbar-menu-signup {
    color: rgb(95, 0, 128);
    cursor: pointer;
}

.header__topbar-menu-divider {
    width: 1px;
    height: 13px;
    margin: 0px 12px;
    background-color: rgb(217, 217, 217);
}

.header__topbar-menu-login {
    cursor: pointer;
}

.header__topbar-menu-support-link {
    cursor: pointer;
}

.down-arrow {
    display: inline-block;
    width: 8px;
    height: 5px;
    background-image: url(/src/assets/images/support-down-arrow.png);
    background-size: cover;
    margin-bottom: 1px;
    margin-left: 3px;
}

.header__topbar-menu-support {
    position: relative;
}

.header__topbar-menu-support-dropdown {
    display: none;
    position: absolute;
    border: 1px solid rgb(221, 221, 221);
    width: 130px;
    right: 0px;
    padding: 3px 9px;
}

.header__topbar-menu-support:hover .header__topbar-menu-support-dropdown {
    display: block;
}

.header__topbar-menu-support-dropdown-item {
    height: 24px;
    line-height: 24px;
    cursor: pointer;
}

.header__utility {
    height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__utility-logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.header__utility-switch-market {
    display: flex;
}

.header__utility-switch-kurly {
    margin-left: 20px;
    font-size: 18px;
    color: rgb(181, 181, 181);
}

.header__utility-switch-kurly.active,
.header__utility-switch-kurly:hover {
    font-weight: 500;
    color: rgb(95, 0, 128);
}

.header__utility-switch-kurly:last-child {
    margin-left: 10px;
}

.header__utility-market-divider {
    width: 1px;
    height: 14px;
    margin-top: 3px;
    margin-left: 11px;
    background-color: rgb(226, 226, 226);
}

.header__utility-search {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 48px;
    padding-left: 14px;
    padding-top: 1px;
    margin-top: 1px;
    border: 1px solid rgb(95, 0, 128);
    border-radius: 6px;
    background-color: white;
    margin-left: -100px;
    box-sizing: border-box;
}

.header__utility-search__input {
    border: 0;
    width: 300px;
    outline: none;
    font-size: 16px;
    letter-spacing: -0.33px;
    margin-left: -2px;
    color: #333333;
}

.header__utility-search__input::placeholder {
    color: rgb(153, 153, 153); /* 원하는 색상으로 변경 */
}

/* 추후 입력이 있을 경우 버튼이 보이게 설정 */
.header__utility-search__clear-input {
    /* display: none; */
    border: 0;
    background: url(/src/assets/icons/header/delete-icon.svg) no-repeat;
    width: 16px;
    height: 16px;
    margin-top: 14.5px;
    margin-left: 20px;
}

.header__utility-search__button {
    border: 0;
    background: url(/src/assets/icons/header/search-icon.svg) no-repeat;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 10px;
    bottom: 6px;
}

.header__utility-user-menu {
    display: flex;
    height: 100%;
    align-items: center;
}

.header__utility-user-menu-delivery,
.header__utility-user-menu-favorites,
.header__utility-user-menu-cart {
    display: inline-block;
    margin-top: 5px;
    width: 36px;
    height: 36px;
}

.header__utility-user-menu-delivery:hover,
.header__utility-user-menu-favorites:hover,
.header__utility-user-menu-cart:hover {
    filter: invert(11%) sepia(100%) saturate(6000%) hue-rotate(286deg) brightness(55%) contrast(119%);
}

.header__utility-user-menu-delivery {
    background-image: url(/src/assets/icons/header/delivery-location-icon.svg);
    margin-right: 20px;
}

.header__utility-user-menu-favorites {
    background-image: url(/src/assets/icons/header/heart-favorites-icon.svg);
}

.header__utility-user-menu-cart {
    background-image: url(/src/assets/icons/header/cart-icon.svg);
    margin-left: 20px;
}
