#nav {
    margin-top: 100px;
    min-width: 1050px;
    letter-spacing: -0.3px;
    background-color: rgb(255, 255, 255);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
    width: 100%;
    z-index: 300;
}

#nav__list {
    width: 1050px;
    height: 56px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/* 카테고리 */
#nav__category {
    position: relative;
}

#nav__category button {
    border: 0;
    padding: 0;
}

#category-btn {
    display: flex;
    height: 100%;
    align-items: center;
}

#category-btn span:first-of-type {
    width: 16px;
    height: 14px;
    margin-right: 14px;
    background-image: url(/src/assets/icons/nav-hamburger.svg);
}

#category-btn span:last-of-type {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.3px;
}

/* 카테고리 버튼 hover */
#category-btn:hover span:first-of-type {
    background-image: url(/src/assets/icons/nav-hamburger_hover.svg);
}

#category-btn:hover span:last-of-type {
    color: rgb(95, 0, 128);
}

/* 드롭다운 카테고리 */
#category-menu {
    /*display: none;*/
    /* 기본적으로 숨김 */
    position: absolute;
    width: 249px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
    overflow: scroll;
}

/* 카테고리 메뉴 보이게 하기 */
/*#nav__category:hover #category-menu {
    display: block;
}*/

.category-item {
    padding: 7px 0px 9px 14px;
}

.category-item:hover {
    background-color: rgb(247, 247, 247);
    color: rgb(95, 0, 128);
    cursor: pointer;
}

/* 네비게이션 메뉴 */
#nav__items {
    display: flex;
    margin-left: 30px;
}

.nav__item {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 55px;
    padding-top: 18px;
    line-height: 20px;
}

.nav__link {
    height: fit-content;
    font-size: 16px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    cursor: pointer;
}

.nav__link:hover {
    color: rgb(95, 0, 128);
    border-bottom: 1px solid rgb(95, 0, 128);
}

/* 배송 안내 */
#nav__noti {
    display: flex;
    align-items: center;
}

.delivery-notice {
    height: 32px;
    padding: 6px 16px;
    border-radius: 18px;
    border: 1px solid rgb(238, 238, 238);
    color: rgb(102, 102, 102);
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.32px;
    cursor: pointer;
}

.delivery-notice span {
    font-weight: 500;
    color: rgb(95, 0, 128);
}