* {
    box-sizing: border-box;
}

#nav {
    margin-top: 100px;
    background-color: rgb(193, 234, 221);

}

#nav__list {
    width: 1050px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#nav__category {
    width: 84.11px;
    background-color: darkgreen;
}

#nav__items {
    display: flex;
    margin-left: 30px;
}

.nav__item {
    width: 150px;
    background-color: brown;
}

#nav__noti {
    width: 126.71px;
    background-color: darkgoldenrod;
}