/*sidebar.css*/
#sidebar {
    position: absolute;
    top: 516px;
    right: 20px;
    bottom: 0px;
    z-index: 1;
    margin-top: 216px;
}

#sidebar-container {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.3px;
}

/*배송 안내 배너*/
#sidebar-banner {
    height: 120px;
    margin-bottom: 7px;
    cursor: pointer;
    overflow: hidden;
}

#sidebar-banner__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*고객 서비스 링크*/
#sidebar-links {
    width: 80px;
    border-width: 1px 1px 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
}

.sidebar-links__item {
    height: 29px;
    padding-top: 5px;
    text-align: center;
    border-bottom: 1px solid rgb(221, 221, 221);
    cursor: pointer;
}

/*최근 본 상품 목록*/
#sidebar__recent-products {
    margin-top: 8px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 500;
}

.recent-products__btn {
    width: 100%;
    border: 0;
    padding: 0;
}

.recent-products__btn svg {
    color: #666;
}

.recent-products__btn:disabled {
    cursor: default;
}

.recent-products__btn:disabled svg {
    color: #ddd;
}

#recent-products__list {
    max-height: 209px;
    overflow: hidden;
    margin-top: 6px;
}

#recent-products__items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recent-products__link {
    display: block;
    width: 60px;
    height: 80px;
    margin: 2px 0px;
    cursor: pointer;
    overflow: hidden;
}

.recent-products__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1250px) {
    #sidebar-container {
        display: none;
    }
}