/* time 섹션 css 파일 */
#time-container {
    width: 1050px;
    margin: 0 auto;
    padding: 80px 0px;
    display: flex;
    justify-content: space-between;
}

#sale-timer {
    width: 249px;
}

#sale-title {
    font-size: 28px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 1.1;
}

#sale-subtitle {
    font-size: 16px;
    color: rgb(153, 153, 153);
    font-weight: normal;
    line-height: 1.3;
    letter-spacing: normal;
    padding-top: 11px;
}

#countdown-timer {
    display: flex;
    padding-top: 24px;
    padding-bottom: 32px;
}

#timer-icon {
    width: 36px;
    height: 47px;
    margin-right: 5px;
}

#timer-text {
    width: 136px;
    font-size: 32px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    line-height: 47px;
}

#sale-message {
    font-size: 14px;
    color: rgb(204, 204, 204);
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: -0.4px;
}

#sale-products {
    display: flex;
    gap: 18px;
}

.sale-product {
    background-color: white;
    width: 249px;
    display: block;
}

.sale-product__image-wrapper {
    overflow: hidden;
    border-radius: 4px;
    height: 321px;
    position: relative;
}

.sale-product__image {
    width: 100%;
    object-fit: cover;
    display: block;
}

.product__offer-tag {
    position: absolute;
    background-color: rgb(189, 118, 255);
    top: 8px;
    left: 8px;
    border-radius: 4px;
    padding: 6px 8px;
}

.product__offer-tag span {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}

.sale-product__button {
    width: 100%;
    height: 36px;
    border: 1px solid rgb(221, 221, 221);
    font-size: 16px;
    border-radius: 4px;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(51, 51, 51);
}

.sale-product__button-icon {
    width: 22px;
    height: 22px;
    margin-right: 4px;
}

.sale-product__button span {
    margin-bottom: 1px;
}

.sale-product__info {
    padding-top: 9px;
}

.sale-product__promotion {
    color: rgb(153, 153, 153);
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 1.38;
}

.sale-product__name {
    margin: 0;
    font-size: 16px;
    margin-bottom: 6px;
    color: rgb(51, 51, 51);
    line-height: 1.43;
    font-weight: 400;
    margin-bottom: 6.5px;
}

.sale-product__price {
    height: 45px;
}

.sale-product__regular-price {
    padding-top: 4px;
    font-size: 14px;
    line-height: 20px;
    text-decoration: line-through;
    color: rgb(181, 181, 181);
    margin-top: -3px;
}

.sale-product__sale-price {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    display: flex;
}

.sale-product__sale-price span:first-child {
    color: rgb(250, 98, 47);
    margin-right: 7px;
}

.sale-product__review-count {
    display: flex;
    color: rgb(167, 178, 188);
    padding-top: 12px;
}

.sale-product__review-icon {
    width: 15px;
    height: 15px;
    margin-top: 1px;
    margin-right: 2px;
}

.sale-product__review-number {
    font-size: 12px;
    line-height: 17px;
    padding-left: 2px;
}
